body{
font-family:Arial;
scroll-behavior:smooth;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(120deg,#007bff,#00c6ff);
color:white;
}

.name{
font-size:45px;
font-weight:bold;
}

.progress{
margin-bottom:15px;
}

.card{
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}
